@charset "utf-8";

::-webkit-scrollbar {width:17px; height:17px; background:#fff; display:block; border-left:1px solid #eee;}
::-webkit-scrollbar-thumb {background:#ddd; border:4px solid transparent; background-clip:content-box; cursor:pointer;}
.wrap::-webkit-scrollbar,
#contents::-webkit-scrollbar {display:none;}

.pointer {cursor:pointer;}
.red .tui-grid-cell-content {color:#ff0000; font-weight: bold;}
.blue .tui-grid-cell-content {color:#1100ff; font-weight: bold;}
.underline {text-decoration:underline;}
.show {display:block;}
.hide {display:none;}

form.search {width:100%; white-space:nowrap;}
form.search fieldset {width:100%; line-height:40px; padding:5px 10px 8px 10px; border:0.5px solid #ddd; background:#eee; display:block; border-radius: 5px;}
form.search fieldset  table th {padding:1px 20px 1px 10px; color:#333;}
form.search fieldset  table td {padding:1px 1px 1px 1px;}
form.search fieldset legend {display:none;}

.btnWrap {padding:10px 0; text-align:center; position:relative;}
.btnWrap .totalCount {position:absolute; right:0; bottom:0; font-size:11px;}

.btnWrap .crud {position:absolute; left:0; bottom:5px;}
.btnWrap .crud button {line-height:19px; height:20px; padding:0 5px 0 0; font-size:11px; background:#eee; border:1px solid #ddd; color:#555; text-shadow:none;}
.btnWrap .crud button .icon {line-height:19px; font-size:12px;}
.btnWrap .crud button.add .icon {color:#000;}
.btnWrap .crud button.save .icon {color:#047a00;}
.btnWrap .crud button.del .icon {color:#b63434;}

th.required:after {content:'*'; display:inline-block; font-size:12px; color:#ff0000; padding-left:5px;}

#app {width:100%; height:100%;}

.popup {width:100%; height:100%; position:fixed; left:0; top:0; background:rgba(0,0,0,0.3); z-index:300;}
.popupWrap {background:#fff; padding:10px; height:90%; width:80%; position:fixed; left:10%; top:5%; z-index:300; border:1px solid rgba(0,0,0,0.5); box-shadow:0 0 5px rgba(0,0,0,0.3);}
.popup h3 {padding:10px 0 15px 5px; color:#333; font-size:16px; font-weight:bold;}
.popup .close {position:absolute; right:10px; top:10px; cursor: pointer;}
.popup .close .icon {color:#333; font-size:26px;}
.popup form {width:100%; height:calc(100% - 60px); overflow: auto;}
.popup table.popT {width:100%;}
.popup table.popT th.th {width:120px; padding:5px 10px; border:1px solid rgba(0,0,0,0.2); color:#333; background:#f7f9fc;}
.popup table.popT td.td {padding:5px; border:1px solid rgba(0,0,0,0.2);}

#side ul li span.name u {color:#ff2600;} /* 뒤늦게 v-html 한곳은 style 안먹힐때가... */

@media print {
	html,
	body {height:auto;}
	#header,
	#menu,
	#footer,
	span.print,
	ul.tab,
	#content {display:none;}
	#print {display:block;}
}